.avoidTextOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.artistContainer {
    display: block;
    height: 100%;
    width: 100%;
    background: #d1d1e7;
}

.artistBanner {
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
}

.artistBanner img {
    height: 700px;
    width: 100%;
}

.artistBanner .overlayArtist {
    font-size: 22px;
    color: white;
    padding-left: 30px;
    margin: 25px 0px;
    background: transparent;
    font-weight: bold;
}

.artistBanner .overlayName {
    font-size: 30px;
    color: white;
    padding-left: 30px;
    background: transparent;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 72px;
}

.artistBanner .content {
    display: block;
    top: 50px;
    height: 400px;
    width: 100%;
    background: #bed5de;
}

.content .subHeader {
    font-size: 22px;
    font-weight: bold;
    color: darkslategray;
    background: transparent;
    padding-left: 30px;
    padding-top: 15px;
}

.content .arrange {
    height: auto;
    width: 100%;
    display: inline-flex;
}

.arrange .albumGrid {
    padding-left: 30px;
    display: block;
    height: 330px;
    width: 55%;
    overflow: auto;
}

.albumGrid .gridItem {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-right: 8px;
    margin-top: 8px;
    text-align: center;
    background: white;
    box-shadow: 0px 3px 10px 0px rgb(144, 159, 159);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.gridItem .gridOverlay {
    background: black;
    opacity: 0.5;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 11px;
    text-align: left;
    padding: 5px;
}

.gridItem:hover {
    box-shadow: 0px 3px 10px 0px rgb(29, 35, 35);
    transition: 0.6s;
}

.gridItem:active .gridOverlay {
    opacity: 1;
}

.arrange .albumDetails {
    display: block;
    height: 330px;
    width: 40%;
    background: white;
    margin-left: 20px;
    box-shadow: 0px 3px 10px 0px rgb(144, 159, 159);
}

.albumDetails .trackHeader {
    color: darkslategrey;
    padding-top: 20px;
    padding: 10px;
    padding-bottom: 0;
    font-weight: bold;
}

.albumDetails .trackList_wrapper {
    height: 300px;
    overflow-y: auto;
}

.trackList_wrapper .albumItem {
    margin: 10px;
    padding: 10px;
    background: darkslateblue;
    color: white;
    font-size: 16px;
    box-shadow: 0px 3px 10px 0px rgb(144, 159, 159);
    cursor: pointer;
}

.albumItem:hover {
    box-shadow: 0px 3px 10px 0px rgb(29, 35, 35);
    transition: 0.5s;
}