.sideBar {
    /* width: 400px; */
    height: 700px;
    background: #80a2af;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
}

.sideBarItem {
    background: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.sideBarItem:hover {
    box-shadow: 0 8px 6px -6px dimgray;
}

.sideBarItem i {
    font-size: 110px;
    margin-left: 8px;
}

.sideBarItem img {
    height: 100px;
    width: 100px;
}

.makePurple {
    color: #173b7c;
}