@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row{
  margin-left : 0px !important;
  margin-right: 0px !important;
}

.app_container{
  height: -webkit-fill-available;
  width: auto;
}

.app_content{
  height: 700px;
  width: 100%;
  /* padding : 10px; */
}

.loginContainer{

}

.loginButton{
  
}

